*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    background: url(https://img.freepik.com/foto-gratis/vista-superior-diseno-ordenado-escritorio_23-2148219276.jpg?semt=ais_hybrid&w=740&q=80) no-repeat center center/100% 100%;
}
.contenedor{
    width: 700px;
    min-height: 500px;
    background-color: white;
    padding: 40px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

h1{
    font-size: 50px;
    font-weight: bold;
}

input{
    width: 80%;
    height: 50px;
    font-size: 25px;
    margin: 20px;
    padding: 10px;
    border: 4px solid #003d9f;
    border-radius: 10px;
}

button{
    width: 150px;
    height: 60px;
    padding: 10px;
    color:white;
    background-color: #003d9f;
    font-size: 22px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    user-select: none;
}

#lista-de-tareas{
    width: 80%;
    margin-top: 20px;
}
.tarea{
    width: 100%;
    min-height: 100%;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #3d78d7;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.tarea.completada{
    text-decoration: line-through;
    background-color: rgb(108, 57, 130);
    border: none;
}
.tarea p{
    max-width: 350px;
}

i{
    margin: 5px;
    padding: 10px;
    cursor:pointer;
}
.icono-completar{
    color: rgb(255, 255, 255);
}
.icono-eliminar{
    color: rgb(255, 255, 255);
}
.icono-completar :hover,
.icono-eliminar:hover{
background-color: rgba(255, 255, 255, 0.382);
}
