body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background: url('https://i.pinimg.com/1200x/90/4d/7b/904d7bb31966fde6a36cc811b92fa451.jpg') no-repeat center center/cover;
}

.container {
    background: #4a2e24;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    width: 400px;
    height:  700px;
}

.display input {
    width: 95%;
    height: 80px;
    background: #3b2019;
    border: none;
    border-radius: 20px;
    font-size: 70px;
    color: white;
    text-align: right;
    padding: 15px;
    margin-bottom: 25px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 30px;
    column-gap: 35px;
    
}

button {
    height: 90px;
    width: 90px;
    font-size: 1.5rem;
    border: none;
    background: #e8a488;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    transform: scale(0.93);
}

.igual {
    background: #f2b36e;
        grid-column: span 2;
    border-radius: 40px;
    width: 100%;
}
.limpiar, .porcentaje, .borrar{
    background: #fa967d;
}
