/* Fondo general */
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Souses/Fondo.jpeg') no-repeat center center/cover;
    font-family: Arial, sans-serif;

}

/* Contenedor de la calculadora */
.container{
    background: rgba(20, 0, 40, 0.8);
    padding: 20px;
    border-radius: 20px;
    width: 550px;
    height: 800px;
    backdrop-filter: blur(10px);

    box-shadow: 
        0 0 25px #5a00ff,
        inset 0 0 20px #21004f;
}

/* Pantalla */
.display input{
    width: 96%;
    height: 100px;
    font-size: 50px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;

    background: linear-gradient(180deg, #250050, #120026);
    border-radius: 12px;

    box-shadow: 
        inset 0 0 15px #9d4bff,
        0 0 10px #21004f;
}

/* Grid de botones */
.botones{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


button{
    padding: 45px;
    font-size: 22px;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    color: white;
    background: rgba(70, 0, 120, 0.45);

    transition: 0.25s ease;

    /* Glow detr치s del bot칩n (suave en estado normal) */
    box-shadow: 
        0 0 8px #3a008e,
        0 0 15px #2b0067 inset;
}


button:hover{
    background: rgba(255, 255, 255, 0.9);
    color: rgb(221, 0, 255);

    box-shadow:
        0 0 25px rgb(221, 0, 255),    
        0 0 45px #ffffff;  
}

button:active{
    transform: scale(0.92);
    background: #b100ff;
    color: #ffffff;

    /* Glow morado detr치s real */
    box-shadow:
        0 0 30px #b100ff,
        0 0 60px #a900ff,
        inset 0 0 20px #d500ff;
}
/* Botones operadores m치s brillantes */
.operador{
    background: rgba(120, 0, 180, 0.6);
}

.igual{
    grid-column: span 2;
}

